# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy Node.js app to Azure Web App - video-api-nosa123

on:
  push:
    branches:
      - main
    paths:
      - "backend/**"
      - ".github/workflows/**"
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: npm install, build, and test (backend)
        working-directory: backend
        run: |
          npm install
          npm run build --if-present
          npm run test --if-present

      - name: Upload artifact for deployment job (backend only)
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: backend

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app
          path: backend

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_E0A3F2E969CC45E4B7DE84B8DAC3470D }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_04496A5B5D3245A9A2DBE5B447794C18 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_EE701F21A3824278B7A9350625118A39 }}

      - name: Deploy to Azure Web App (backend)
        uses: azure/webapps-deploy@v3
        id: deploy-to-webapp
        with:
          app-name: "video-api-nosa123"
          slot-name: "Production"
          package: backend

